# IDE
/haizu.iml
/.idea

# Dependencies
node_modules

# Build outputs
dist
.output
.vinxi

# Env files
.env
.env.local

# Turbo
.turbo

# OS
.DS_Store

# Local file uploads (dev only)
apps/api/uploads
